include LICENSE
include MANIFEST.in
include *.txt
include *.yml

graft falkon
graft doc

global-exclude *.so
global-exclude notebooks/**
global-exclude doc/_build/**
global-exclude **/.ipynb_checkpoints/**
global-exclude __pycache__
global-exclude *.py[co]
global-exclude keops/**
global-exclude benchmark/**
